# Ignore les libs, gérées via leiningen
lib
# Ignore les artefacts de compilation de leiningen
classes
dist

# Ignore les artifacts Eclipse
bin
.classpath
.project
.settings

# Ignore les fichiers de sauvegarde
*~
 